<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.105.0" targetFramework="net481" />
  <package id="ClosedXML.Parser" version="2.0.0" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net481" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net481" />
  <package id="MetadataReferenceService.Abstractions" version="0.0.1" targetFramework="net481" />
  <package id="MetadataReferenceService.Default" version="0.0.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.8.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.8.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="ProtoBufJsonConverter" version="0.10.0.1" targetFramework="net481" />
  <package id="protobuf-net" version="3.2.52" targetFramework="net481" />
  <package id="protobuf-net.Core" version="3.2.52" targetFramework="net481" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net481" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net481" />
  <package id="Stef.Validation" version="0.1.1" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="7.0.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
</packages>